.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #f5f5f5;
}

.hero-content2 {
  max-width: 50%;
}

.hero-content2 h1 {
  font-size: 2.5em;
  color: #ff6f61;
  font-family: "Cursive";
}

.hero-content2 p {
  margin: 15px 0;
  font-size: 1.1em;
  color: #555;
}

.whatsapp-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #25d366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero-image img {
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

#gallery {
  padding: 50px;
  background-color: white;
}

.gallery h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-container img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.grid-container img::after {
  content: "View Image";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.grid-container img:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
