* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-image: url("../images/7.jpg");
  background-size: cover;
  background-position: center;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfe2b7;
  padding: 20px 40px;
}

header .logo {
  font-size: 2em;
  font-weight: bold;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 380px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
  font-size: 1em;
}

.input-group label {
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  font-size: 0.8em;
  color: #333;
}

.signin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.signin {
  text-align: right;
  position: absolute;
  left: 55%;
}

.signin-btn {
  background-color: #b91d1d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.signin-btn:hover {
  background-color: #a50b0b;
}

.login-text {
  text-align: left;
  font-size: 0.9em;
}

.login-text a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
footer {
  background-color: #b5a297;
  padding: 20px;
  text-align: center;
  color: black;
  font-family: "Arial", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100px;
}

.footer-logo {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;
}

.footer-center {
  text-align: center;
  flex-grow: 1;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.footer-center p {
  font-size: 1em;
  margin-top: 10px;
  font-weight: bold;
}

.footer-right {
  position: relative;
  margin-bottom: -8%;
}

.footer-right p {
  font-size: 1em;
  font-weight: bold;
}

.footer-right a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
