/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  /* background-color: #f1d9a7; */
  background-image: url("../images/6.jpg"); /* Replace with your image */
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  font-size: 3rem;
  margin-top: 120px;
  margin-left: 50px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f0faae; */
}

.nav {
  display: inline-flex;
  margin-left: 124.4px;
  margin-top: 10px;
}
.nav h4 {
  text-decoration: none;
  padding-top: 15px;
  padding-right: 20px;
  color: #000000;
  font-size: 48px;
  font-family: Agency FB;
  font-family: "Arial", sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

nav {
  margin-left: 60%;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Ensures it stays on top of other elements */
}

nav ul {
  display: inline-flex;
  margin-right: 124.4px;
}
nav ul li {
  padding-top: 30px;
  list-style-type: none;
  padding-left: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  font-family: "Arial", sans-serif;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column; /* Change to column for vertical layout */
  align-items: center;
  padding: 40px;
}

.top-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Adjust width as needed */
  margin-bottom: 40px;
}

.left-top-box,
.right-top-box {
  width: 30%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-section {
  width: 80%; /* Adjust width as needed */
  margin-bottom: 40px;
}

.image-section img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.why-choose-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Adjust width as needed */
}

.left-image {
  flex: 1;
}

.left-image img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.right-text {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
