* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("../images/bg.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
}

.contact-container {
  max-width: 800px;
  padding: 20px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #f9a825;
  text-align: center;
}

.contact-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f9a825;
  text-transform: lowercase;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.left-side label {
  text-align: left;
  color: #f9a825;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}

.left-side input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.left-side button {
  background-color: #f9a825;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  width: 100%;
}

.left-side button:hover {
  background-color: #ffcc33;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.right-side label {
  text-align: left;
  color: #f9a825;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}

.right-side textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  height: 290px;
  resize: none;
}
